article{
    position: relative;
    height: calc(100vh - 70px);

    border: 1px solid;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}
