@charset "UTF-8";
/* 캘린더 */
.Calendar {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 1s;
  /* 연도 달 일 */
  /* 테이블 */
  /* 보여주기 버튼 */
}
.Calendar.hide {
  transform: translateX(-82%);
}
.Calendar.hide table {
  pointer-events: none;
}
.Calendar.hide table a {
  visibility: hidden;
}
.Calendar.hide .show_calendar {
  right: 5%;
  opacity: 1;
}
.Calendar .year_month_date {
  display: flex;
  justify-content: center;
}
.Calendar .year_month_date .yearwrap,
.Calendar .year_month_date .monthwrap {
  width: 375px;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
}
.Calendar .year_month_date .yearwrap button,
.Calendar .year_month_date .monthwrap button {
  background: rgba(20, 159, 121, 0.5019607843);
  border: 0;
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 8px;
  border-radius: 50%;
  transition: 0.2s;
}
.Calendar .year_month_date .yearwrap button.prev i, .Calendar .year_month_date .yearwrap button.next i,
.Calendar .year_month_date .monthwrap button.prev i,
.Calendar .year_month_date .monthwrap button.next i {
  color: #ffffff;
  pointer-events: none;
}
.Calendar .year_month_date .yearwrap button:hover,
.Calendar .year_month_date .monthwrap button:hover {
  background: #149f79;
}
.Calendar .year_month_date .yearwrap span,
.Calendar .year_month_date .monthwrap span {
  font-size: 1.2em;
  display: flex;
  align-items: center;
}
.Calendar table {
  width: 80%;
  height: 90%;
  transition: 1s;
  margin: 0 auto;
  border: 1px solid;
  border-radius: 5px;
  overflow: hidden;
}
.Calendar table thead {
  background: rgba(0, 121, 255, 0.7333333333);
}
.Calendar table thead th {
  padding: 15px 5px;
  margin-bottom: 10px;
  color: #ffffff;
}
.Calendar table tbody {
  background: #ffffff;
}
.Calendar table tbody tr td {
  border: 1px solid #d3d3d3;
  padding: 5px;
}
.Calendar table tbody tr td:nth-child(1) {
  border-left: 0;
}
.Calendar table tbody tr td:nth-last-child(1) {
  border-right: 0;
}
.Calendar table tbody tr td a {
  position: relative;
  color: #000000;
}
.Calendar table tbody tr td a.saturday {
  color: #0000ff;
}
.Calendar table tbody tr td a.sunday {
  color: #ff0000;
}
.Calendar table tbody tr td a::before {
  position: absolute;
  bottom: -5px;
  left: 0;
  content: "";
  width: 100%;
  height: 0;
  border: 2px solid;
  border-radius: 50px;
}
.Calendar .show_calendar {
  position: absolute;
  top: 50%;
  right: 0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #00dfa2;
  color: #fff;
  transform: translate(100%, -50%);
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.Calendar .show_calendar:hover {
  background: #149f79;
}

@media screen and (max-width: 750px) {
  .Calendar.hide {
    transform: translate(0, 100%);
  }
  .Calendar.hide .show_calendar {
    position: absolute;
    top: -5%;
    left: 50%;
    width: 35px;
    height: 35px;
    border: 1px solid;
    border-radius: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
  }
  .Calendar .year_month_date .yearwrap,
  .Calendar .year_month_date .monthwrap {
    width: 50%;
  }
  .Calendar .year_month_date .yearwrap button:hover,
  .Calendar .year_month_date .monthwrap button:hover {
    background: #00dfa2;
  }
  .Calendar .year_month_date .yearwrap span,
  .Calendar .year_month_date .monthwrap span {
    font-size: 1em;
  }
  .Calendar table {
    width: 100%;
  }
  .Calendar .show_calendar {
    top: -20%;
    left: 50%;
    transform: translateX(-50%) rotate(-90deg);
    opacity: 0;
  }
}

/*# sourceMappingURL=Calendar.css.map */
