@charset "UTF-8";
.Contect {
  width: 80%;
  height: 80%;
  background: #ffffff;
}
.Contect form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Contect form h2 {
  width: 80%;
  height: 20%;
  font-size: 1.8em;
  padding-top: 15px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Contect form > div {
  width: 80%;
  /* 이름 , 이메일 */
  /* 문의내용 */
  /* 홈으로, 문의하기 버튼 */
}
.Contect form > div:nth-child(2) {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  border-top: 0;
  border-bottom: 0;
}
.Contect form > div:nth-child(2) > div {
  position: relative;
  width: 30%;
  display: flex;
  justify-content: center;
}
.Contect form > div:nth-child(2) > div label {
  position: absolute;
  left: 5px;
  top: 25%;
  pointer-events: none;
  transition: 0.3s;
}
.Contect form > div:nth-child(2) > div label.active {
  transform: translateY(-100%);
  background: #ffffff;
  font-size: 0.75em;
}
.Contect form > div:nth-child(2) > div input {
  width: 100%;
  padding: 5px;
  border-bottom: 2px solid #d3d3d3;
}
.Contect form > div:nth-child(3) {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 0;
  border-bottom: 0;
}
.Contect form > div:nth-child(3) textarea {
  width: 60%;
  height: 85%;
  resize: none;
}
.Contect form > div:nth-child(4) {
  width: 80%;
  height: 20%;
  border-top: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Contect form > div:nth-child(4) > div {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.Contect form > div:nth-child(4) > div button {
  padding: 7px 20px;
  border-radius: 3px;
  background: #00dfa2;
  cursor: pointer;
}
.Contect form > div:nth-child(4) > div button:hover {
  background: #149f79;
  color: #ffffff;
}

@media screen and (max-width: 750px) {
  .Contect form h2 {
    height: 15%;
    font-size: 1.4em;
  }
  .Contect form div:nth-child(2) {
    height: 20%;
    flex-direction: column;
    gap: 15px;
  }
  .Contect form div:nth-child(2) > div {
    width: 80%;
  }
  .Contect form div:nth-child(2) > div label {
    width: auto;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s ease-out;
  }
  .Contect form div:nth-child(2) > div label.active {
    width: 10px;
    transform: translate(-200%, -50%);
    background: #ffffff;
    font-size: 0.6em;
  }
  .Contect form div:nth-child(2) > div input {
    padding: 5px;
  }
  .Contect form div:nth-child(3) {
    height: 40%;
    flex-direction: column;
  }
  .Contect form div:nth-child(3) textarea {
    width: 80%;
  }
  .Contect form div:nth-child(4) > div {
    gap: 10px;
  }
  .Contect form div:nth-child(4) > div button {
    width: 100%;
    padding: 3px 9px;
  }
}

/*# sourceMappingURL=Contect.css.map */
