@charset "UTF-8";
.DetailSchedule {
  position: relative;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
.DetailSchedule.show {
  width: 70%;
  border-radius: 5px;
  overflow: hidden;
  visibility: visible;
  opacity: 1;
}
.DetailSchedule.show h3 {
  width: 100%;
  height: 45px;
  border: 0;
  border-bottom: 1px solid #808080;
  background: #0097ff;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 1.3em;
}
.DetailSchedule .DetailPlanWrap {
  width: 100%;
  height: calc(100% - 45px);
  padding: 10px;
  background: #ffffff;
  /* 자세한 일정 */
  /* 시간 일정 */
}
.DetailSchedule .DetailPlanWrap .DetailPlan {
  position: relative;
  width: 100%;
  height: 30%;
  padding-bottom: 20px;
  margin-bottom: 10px;
  overflow-y: scroll;
}
.DetailSchedule .DetailPlanWrap .DetailPlan ul {
  height: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.DetailSchedule .DetailPlanWrap .DetailPlan ul li {
  width: 200px;
  height: 100%;
  margin: 10px;
  border: 1px solid #808080;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.DetailSchedule .DetailPlanWrap .DetailPlan ul li h4 {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.DetailSchedule .DetailPlanWrap .DetailPlan ul li p {
  height: 50%;
}
.DetailSchedule .DetailPlanWrap .DetaileTimeLine {
  position: relative;
  top: 0;
  height: 68%;
  padding-top: 10px;
  border: 1px solid #bdbdbd;
  overflow-y: scroll;
}
.DetailSchedule .DetailPlanWrap .DetaileTimeLine > div {
  margin-left: 30px;
  border-bottom: 1px solid #d3d3d3;
  display: flex;
}
.DetailSchedule .DetailPlanWrap .DetaileTimeLine > div:nth-child(1) {
  border-top: 1px solid #d3d3d3;
}
.DetailSchedule .DetailPlanWrap .DetaileTimeLine > div > p {
  position: relative;
  transform: translate(-25px, -8px);
  padding-bottom: 50px;
  text-align: center;
  font-size: 0.8em;
}
.DetailSchedule .DetailPlanWrap .DetaileTimeLine > div > p::before {
  position: absolute;
  content: "";
  top: -9px;
  left: -12px;
  width: 30px;
  height: 30px;
  border: 1px solid #d3d3d3;
  transform: rotate(45deg);
}
.DetailSchedule .DetailPlanWrap .DetaileTimeLine > div .Dshow_wrap {
  transition: 0.5s;
  width: 100%;
  display: flex;
  gap: 5px;
}
.DetailSchedule .DetailPlanWrap .DetaileTimeLine > div .Dshow_wrap .Dshow {
  width: 100%;
  height: 100%;
  background: #149f79;
  border-radius: 7px;
  transition: 0.5s;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #ffffff;
  font-size: 1.2em;
  font-weight: 700;
}
.DetailSchedule .DetailClose {
  position: absolute;
  top: 22.5px;
  right: 0;
  transform: translate(-10px, -50%);
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  background: #00dfa2;
  font-size: 0.8em;
}
.DetailSchedule .DetailClose:hover {
  background: #149f79;
  color: #ffffff;
}

@media screen and (max-width: 750px) {
  .DetailSchedule.show {
    width: 50%;
    flex-direction: column;
  }
  .DetailSchedule.show h3 {
    text-align: start;
    font-size: 1em;
    display: flex;
    align-items: center;
  }
  .DetailSchedule.show.MediaWidth {
    width: 100%;
  }
  .DetailSchedule .DetailPlanWrap .DetailPlan ul li p {
    font-size: 0.8em;
    height: 50%;
  }
  .DetailSchedule .DetailPlanWrap .DetaileTimeLine > div .Dshow_wrap .Dshow {
    font-size: 0.8em;
  }
}

/*# sourceMappingURL=DetailSchedule.css.map */
