.SetYMD {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    width: 200px;

    top: 50px;

    visibility: hidden;
    border: 1px solid;

    display: flex;
    justify-content: space-between;
}

.SetYMD.active {
    top: 70px;

    visibility: visible;
}

.SetYMD .YearDraw,
.SetYMD .MonthDraw,
.SetYMD .DateDraw {
    width: 30%;
    display: flex;
    flex-direction: column;
}


@media screen and (max-width:750px) {
    .SetYMD {
        width: 150px;
    }
}