article{
    height: calc(100vh - 70px);

    border: 1px solid;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}
/* 연도 달 일 */
.year_month_date{
    display: flex;
    justify-content: center;
}
.year_month_date>div{
    padding: 20px;
}
.prev i,.next i{
    pointer-events: none;
}
/* 캘린더 */
.calendar{
    position: relative;
    width: 100%;
    height: 100%;

    transition: 1s;
}
.calendar.hide{
    transform: translateX(-82%);

}
.calendar.hide table a{
    transition-delay: 1s;
    visibility: hidden;
}


/* 테이블 */
table{
    width: 80%;
    height: 90%;

    transition: 1s;

    border: 1px solid;
    margin: 0 auto;
    border-radius: 5px;
}
.calendar.hide table{
    pointer-events: none;
}
table thead th{
    border: 1px solid;
    border-left: 0 ;
    border-right: 0 ;
    border-bottom: 0 ;
    padding: 10px;

    margin-bottom: 10px;
}
table td{

    border: 2px solid;

    padding: 5px;
}

/* 보여주기 버튼 */
.calendar .show_calendar{
    position: absolute;
    top: 50%;
    right: 0;

    width: 35px;
    height: 35px;

    border: 1px solid;;
    border-radius: 50%;

    transform: translate(100%,-50%);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 1s;

    opacity: 0;
}
.calendar.hide .show_calendar{
    right: 5%;

    opacity: 1;
}
.calendar.hide .show_calendar:hover{
    background: red;
    color: #fff;
    animation: animate 1s infinite linear;
}
@keyframes animate{
    0%,100%{
        opacity: 1;
    }
    50%{
        opacity: 0.5;
    }

}

@media screen and (max-width:750px) {
    .calendar.hide{
        transform: translate(0,100%);
    }
    table{
        width: 100%;
    }

    .calendar .show_calendar{
        top: -20%;
        left: 50%;
        
        transform: translateX(-50%) rotate(-90deg);
        transition-delay: 0.5s;
        opacity: 0;
    }
    .calendar.hide .show_calendar{
        position: absolute;
        top: -5%;
        left: 50%;

        width: 35px;
        height: 35px;

        border: 1px solid;;
        border-radius: 50%;

        transform: translate(-50%,-50%) rotate(-90deg);

        display: flex;
        justify-content: center;
        align-items: center;

        
        opacity: 1;
    }
}