@import './VarMixin';
article {
    position: relative;
    height: calc(100vh - 70px);

    @include disFlexJustifyAlign();
    flex-direction: column;

    background: $MainColorSal;

    overflow: hidden;
}

@media screen and (max-width:750px) {
    article{
        padding-bottom: 70px;
    }
}