@import './VarMixin';

article {
    position: relative;
    height: calc(100vh - 70px);

    @include disFlexJustifyAlign();
    flex-direction: column;

    background: $MainColorSal;

    overflow: hidden;
}