@import './VarMixin';

.BackgroundAni{
    position: fixed;
    top: 70px;
    left: 0;

    pointer-events: none;
    
    @include WH(100%,calc(100% - 70px));
    @include disFlexJustifyAlign();

    .lottie-container{
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width:750px) {
    .BackgroundAni .lottie-container{
        width: 100%;
        height: 100%;
    }
}