@import './VarMixin';
/* 캘린더 */
.Calendar {
    position: relative;
    @include WH(100%,100%);

    transition: 1s;

    &.hide {
        transform: translateX(-82%);

        table {
            pointer-events: none;

            a {
                visibility: hidden;
            }
        }

        .show_calendar {
            right: 5%;

            opacity: 1;
        }
    }

    /* 연도 달 일 */
    .year_month_date {
        display: flex;
        justify-content: center;

        .yearwrap,
        .monthwrap {
            width: 375px;

            padding: 20px 10px;

            display: flex;
            justify-content: space-between;

            button {
                background: #149f7980;
                border: 0;
                cursor: pointer;

                @include WH(30px,30px);

                padding: 8px;
                border-radius: 50%;
                transition: 0.2s;

                &.prev i,
                &.next i {
                    color: $SubColorWhite;
                    pointer-events: none;
                }

                &:hover {
                    background: $HoverGreenColor;
                }
            }

            span {
                font-size: 1.2em;

                display: flex;
                align-items: center;
            }

        }
    }

    /* 테이블 */
    table {
        @include WH(80%,90%);

        transition: 1s;

        margin: 0 auto;

        border: 1px solid;
        border-radius: 5px;

        overflow: hidden;

        thead {
            background: #0079FFbb;


            th {
                padding: 15px 5px;

                margin-bottom: 10px;
                color: $SubColorWhite;
            }
        }

        tbody {
            background: $SubColorWhite;

            tr {
                td {

                    border: 1px solid $PointColorLightGray;

                    padding: 5px;

                    &:nth-child(1) {
                        border-left: 0;
                    }

                    &:nth-last-child(1) {
                        border-right: 0;
                    }

                    a {
                        position: relative;
                        color: $SubColorBlack;

                        &.saturday {
                            color: #0000ff;
                        }

                        &.sunday {
                            color: #ff0000;
                        }

                        &::before {
                            position: absolute;
                            bottom: -5px;
                            left: 0;

                            content: "";

                            @include WH(100%, 0);

                            border: 2px solid;
                            border-radius: 50px;
                        }
                    }
                }
            }
        }
    }

    /* 보여주기 버튼 */
    .show_calendar {
        position: absolute;
        top: 50%;
        right: 0;

        @include WH(35px, 35px);

        border-radius: 50%;

        background: $MainColorGreen;
        color: #fff;

        transform: translate(100%, -50%);
        transition: 0.3s;

        @include disFlexJustifyAlign();

        opacity: 0;

        &:hover{
            
            background: $HoverGreenColor;
        }
    }

}

@media screen and (max-width:750px) {

    .Calendar {
        &.hide {
            transform: translate(0, 100%);

            .show_calendar {
                position: absolute;
                top: -5%;
                left: 50%;

                @include WH(35px, 35px);

                border: 1px solid;
                border-radius: 50%;

                transform: translate(-50%, -50%) rotate(-90deg);

                @include disFlexJustifyAlign();

                opacity: 1;
            }
        }

        .year_month_date {

            .yearwrap,
            .monthwrap {
                width: 50%;

                button:hover {
                    background: $MainColorGreen;
                }

                span {
                    font-size: 1em;
                }

            }
        }

        table {
            width: 100%;
        }

        .show_calendar {
            top: -20%;
            left: 50%;

            transform: translateX(-50%) rotate(-90deg);
            opacity: 0;
        }
    }
}