@import './VarMixin';

/* 캘린더 */
.Calendar {
    position: relative;
    @include WH(100%, 100%);

    transition: 1s;

    &.hide {
        transform: translateX(-82%);

        table {
            pointer-events: none;

            a {
                visibility: hidden;
            }
        }

        .show_calendar {
            right: 5%;

            opacity: 1;
        }
    }

    /* 연도 달 일 */
    .year_month_date {
        display: flex;
        justify-content: center;

        .yearwrap,
        .monthwrap {
            width: 375px;

            padding: 20px 10px;

            display: flex;
            justify-content: space-between;

            button {
                background: #149f7980;
                border: 0;
                cursor: pointer;

                @include WH(30px, 30px);

                padding: 8px;
                border-radius: 50%;
                transition: 0.2s;

                &.prev i,
                &.next i {
                    color: $SubColorWhite;
                    pointer-events: none;
                }

                &:hover {
                    background: $HoverGreenColor;
                }
            }

            span {
                font-size: 1.2em;

                width: 30%;

                background: #ffffffbb;
                border-radius: 50px;

                @include disFlexJustifyAlign();
            }

        }
    }

    /* 테이블 */
    table {
        @include WH(80%, 90%);

        transition: 1s;

        margin: 0 auto;

        border: 1px solid;
        border-radius: 5px;

        overflow: hidden;

        thead {
            background: $MainColorBlue;


            th {
                padding: 15px 5px;

                margin-bottom: 10px;
                color: $SubColorWhite;
            }
        }

        tbody {
            background: $SubColorWhite;

            tr {
                td {
                    position: relative;

                    border: 1px solid $PointColorLightGray;

                    padding: 5px;

                    &:nth-child(1) {
                        border-left: 0;
                    }

                    &:nth-last-child(1) {
                        border-right: 0;
                    }

                    &.today::before {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        @include WH(100%, 100%);
                        background: #0097ff70;
                        color: #fff;
                        box-shadow: inset 0 0 5px #2e2e2e;
                        content: "Today";
                        pointer-events: none;
                        z-index: 0;
                        @include disFlexJustifyAlign();
                        font-size: 1vw;
                    }

                    &.today::after {
                        position: absolute;
                        top: 0;
                        left: 0;
                        border-bottom: 1px solid #d3d3d3;
                        border-right: 1px solid #d3d3d3;
                        content: '';
                        width: 35px;
                        box-shadow: 1px 1px 3px #2e2e2e;
                        height: 35px;
                        background: #fff;
                        border-bottom-right-radius: 10px;
                        z-index: 0;
                    }

                    a {
                        position: relative;
                        color: $SubColorBlack;
                        z-index: 1;

                        &.saturday {
                            color: #0000ff;
                        }

                        &.sunday {
                            color: #ff0000;
                        }

                        &::before {
                            position: absolute;
                            bottom: -5px;
                            left: 0;

                            content: "";

                            @include WH(100%, 0);

                            border: 2px solid;
                            border-radius: 50px;
                        }
                    }

                    .sticker_wrap {
                        position: absolute;
                        top: 36px;
                        left: 0;

                        @include WH(100%, calc(100% - 36px));

                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;

                        div {
                            width: 50%;
                            min-width: 8px;
                            max-width: 50px;

                            &.stickerbirth{
                                background: url(/public/imgs/brith.png) no-repeat;
                                background-size: contain;
                            }
                            &.stickerexercise{
                                background: url(/public/imgs/exercise.png) no-repeat;
                                background-size: contain;
                            }
                            &.stickerjust{
                                background: url(/public/imgs/just.png) no-repeat;
                                background-size: contain;
                            }
                            &.stickershopping{
                                background: url(/public/imgs/shopping.png) no-repeat;
                                background-size: contain;
                            }
                            &.stickertravel{
                                background: url(/public/imgs/travel.png) no-repeat;
                                background-size: contain;
                            }
                        }
                    }
                }
            }
        }
    }

    /* 보여주기 버튼 */
    .show_calendar {
        position: absolute;
        top: 50%;
        right: 0;

        @include WH(35px, 35px);

        border-radius: 50%;

        background: $MainColorGreen;
        color: #fff;

        transform: translate(100%, -50%);
        transition: 0.3s;

        @include disFlexJustifyAlign();

        opacity: 0;

        &:hover {

            background: $HoverGreenColor;
        }
    }

}

@media screen and (max-width:750px) {

    .Calendar {
        &.hide {
            transform: translate(0, 100%);

            .year_month_date {
                margin-top: 70px;
            }

            .show_calendar {
                position: absolute;
                top: -5%;
                left: 50%;

                @include WH(35px, 35px);

                border: 1px solid;
                border-radius: 50%;

                transform: translate(-50%, -50%) rotate(-90deg);

                @include disFlexJustifyAlign();

                opacity: 1;
            }
        }

        .year_month_date {

            .yearwrap,
            .monthwrap {
                width: 50%;

                button:hover {
                    background: $MainColorGreen;
                }

                span {
                    font-size: 0.9em;
                }

            }
        }

        table {
            width: 100%;
        }

        .show_calendar {
            top: -95px;
            left: 50%;

            transform: translateX(-50%) rotate(-90deg);
            opacity: 0;
        }
    }
}