@import './VarMixin';
.Contect {
    @include WH(80%, 80%);

    background: $SubColorWhite;

    form{
        @include WH(100%, 100%);

        @include disFlexJustifyAlign();
        flex-direction: column;
    
        h2{
            @include WH(80%, 20%);

            font-size: 1.8em;

            padding-top: 15px;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px; 
            border-bottom: 0;

            @include disFlexJustifyAlign();
        }

        &>div{
            width: 80%;

            /* 이름 , 이메일 */
            &:nth-child(2){
                height: 10%;

                @include disFlexJustifyAlign();
                flex-wrap: nowrap;
                gap: 10px;
            
                border-top: 0;
                border-bottom: 0;
                
                &>div{
                    position: relative;

                    width: 30%;
                
                    display: flex;
                    justify-content: center;

                    label {
                        position: absolute;
                        left: 5px;
                        top: 25%;
                    
                        pointer-events: none;
                    
                        transition: 0.3s;

                        &.active{
                            transform: translateY(-100%);
                            background: $SubColorWhite;
                        
                            font-size: 0.75em;
                        }
                    }

                    input {
                        width: 100%;
                        padding: 5px;

                        border-bottom: 2px solid #d3d3d3;
                    }
                }
            }

            /* 문의내용 */
            &:nth-child(3) {
                height: 40%;
            
                @include disFlexJustifyAlign();
            
                border-top: 0;
                border-bottom: 0;

                textarea {
                    @include WH(60%,85%);

                    resize: none;
                }
            }

            /* 홈으로, 문의하기 버튼 */
            &:nth-child(4) {
                @include WH(80%,20%);
            
                border-top: 0;
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
            
                display: flex;
                justify-content: space-around;
                align-items: center;

                &>div {
                    width: 60%;
                
                
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    button {
                        padding: 7px 20px;
                        border-radius: 3px;

                        background: $MainColorGreen;

                        cursor: pointer;

                        &:hover{
                            background: $HoverGreenColor;
                            color: $SubColorWhite;
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width:750px) {
    .Contect form{
        h2{
            height: 15%;
            font-size: 1.4em;
        }
        div{
            &:nth-child(2){
                height: 20%;

                flex-direction: column;
                gap: 15px;

                &>div {
                    width: 80%;

                    label {
                        width: auto;

                        top: 50%;
                
                        transform: translateY(-50%);

                        transition: 0.3s ease-out;

                        &.active {
                            width: 10px;

                            transform: translate(-200%, -50%);
                            background: $SubColorWhite;
                    
                            font-size: 0.6em;
                        }
                    }

                    input {
                        padding: 5px;

                    }
                }
            }

            &:nth-child(3){
                height: 40%;
                flex-direction: column;

                textarea{
                    width: 80%;
                }
            }

            &:nth-child(4){
                &>div{
                    gap: 10px;

                    button{
                        width: 100%;

                        padding: 3px 9px;
                    }
                }
            }
        }
    }
}