@import './VarMixin';
header {
    position: relative;

    border-bottom: 1px solid #808080;

    height: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 30px;

    background: $MainColorBlue;

    z-index: 999;

    h1 {
        font-size: 1.8em;

        a {
            color: $SubColorWhite;
        }
    }

    .headerYMD {
        position: absolute;
        left: 50%;

        transform: translateX(-50%);

        display: flex;
        justify-content: center;
        gap: 30px;

        a {
            color: $MainColorSal;
        }

        button{
            padding: 5px;
            border-radius: 5px;
            
            background: $MainColorGreen;
            color: $SubColorBlack;

            cursor: pointer;

            &:hover{
                background: $HoverGreenColor;
                color: $SubColorWhite;
            }
        }
    }
}

@media screen and (max-width:750px) {
    header {
        padding: 0 5px;

        .logo {
            @include WH(70px, 100%);
            overflow: hidden;

            a {
                @include WH(100%, 100%);
                display: block;

                background: url(/public/imgs/calendar_logo.png) no-repeat;

                text-indent: -999999999px;

                animation: Logoanimate 1s ease-in-out;
                animation-iteration-count: 1;

                transition: 0.5s;
            }
        }

        .headerYMD {
            display: flex;
            justify-content: center;
            gap: 10px;
        }
    }

    @keyframes Logoanimate {
        0% {
            transform: translateY(100%);
        }

        100% {
            transform: translateY(0%);
        }
    }
}