@import './VarMixin';
.LoginPage_Loading_wrap {
    position: relative;
    width: 100%;
    height: 100%;

    backface-visibility: hidden;

    background: #00000059;

    @include disFlexJustifyAlign();
    flex-direction: column;

    &>div{
        position: relative;

        transform: translateY(-50px);
    
        width: 80%;
    
        display: flex;
        justify-content: space-between;
        align-items: center;

        span.spans {
            background: $SubColorWhite;
            animation: LoginPageLoadinganimate 0.6s infinite ease-in-out alternate;
        }
    }

    .LoadingText {
        transform: translateY(100px);
    
        color: $SubColorWhite;
    
        font-size: 2em;
    }
}

@keyframes LoginPageLoadinganimate {

    0% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(-30px);
    }
}

@media screen and (max-width:750px) {
    .LoginPage_Loading_wrap{
            &>div{
            transform: translateY(-30px);
        }
        .LoadingText {
            transform: translateY(60px);
        }
    }
}