@import './VarMixin';

.SearchIdPw {
    position: relative;
    @include WH(100%, 100%);

    @include disFlexJustifyAlign();

    &.VSB{
        visibility: hidden;
    }

    .SearchIdPw_contents_wrap{
        @include WH(100%, 100%);

        /* 아이디 비밀번호 찾기 필터 버튼 */
        .SearchBtn_wrap{
            @include WH(100%, 20%);
        
            padding: 30px;
        
            @include disFlexJustifyAlign();

            h2{
                @include WH(50%, 100%);
                max-width: 200px;
            
                font-size: 0.9em;
                padding: 0;
                padding-bottom: 10px;

                a{
                    display: block;

                    @include WH(100%, 100%);
                
                    font-size: 1.2em;
                    font-weight: 700;
                
                    @include disFlexJustifyAlign();
                
                    color: $SubColorBlack;
                    background: $MainColorGreen;


                    &:hover{
                        background: #00dfa280;
                        color: $SubColorBlack;
                    }
                    &.active{
                        background: $HoverGreenColor;
                        color: $SubColorWhite;
                    }
                }
            }
        }

        /* input태그 모음 */
        form{
            height: 70%;
        
            padding: 0;
            padding-bottom: 10px;
            margin: 20px 0;
        
            @include disFlexJustifyAlign();
            flex-direction: column;

            .SearchIdPw_input_wrap{
                @include WH(80%, 70%);
                max-width: 400px;
            
                margin: 0;
                padding: 0;

                display: flex;
                flex-direction: column;
                justify-content: center;

                &>div{
                    width: 100%;
                
                    display: flex;
                
                    margin: 30px 0;

                    label{
                        display: flex;
                        align-items: center;
                        width: 30%;
                    }

                    input{
                        width: 70%;

                        padding: 10px;
                        border-top-right-radius: 10px;
                        border-top-left-radius: 10px;
                        border-bottom: 1px dashed #808080;
                    }
                }
            }

            /* 이전 확인 버튼 */
            .CheckPrevBtn_wrap{
                @include WH(80%, 20%);
                max-width: 400px;
            
                margin: 0px auto;
                margin-top: 30px;
            
                display: flex;
                justify-content: space-between;
                align-items: center;

                a{
                    display: block;
                
                    padding: 7px 20px;
                    border-radius: 3px;
                    background: $MainColorGreen;
                    color: $SubColorBlack;

                    transition: 0.2s;

                    &:hover{
                        background: $HoverGreenColor;
                        color: $SubColorWhite;
                    }
                }
            }
        }
    }
}


@media screen and (max-width:750px) {
    .SearchIdPw{
        .SearchIdPw_contents_wrap{
            /* 아이디 비밀번호 찾기 필터 버튼 */
            .SearchBtn_wrap{
                padding: 0;

                h2{
                    max-width: 50%;
                
                    text-align: center;
                
                    font-size: 0.9em;
                    padding: 0;
                }
            }

            /* input태그 모음 */
            form{

                overflow-y: scroll;

                .SearchIdPw_input_wrap{
                    height: auto;
                
                    display: unset;
                    
                    &>div{
                        margin: 10px 0;
                        label{
                            font-size: 0.9em;
                        }
                    }
                }

                /* 이전 확인 버튼 */
                .CheckPrevBtn_wrap{
                    height: auto;

                    a{
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}