@import './VarMixin';
.SignUp {
    height: 100%;

    &.VSB {
        visibility: hidden;
    }

    h2 {
        height: 20%;

        @include disFlexJustifyAlign();

        font-weight: 700;
        font-size: 1.8em;
    }

    form {
        height: 65%;

        margin-top: 15px;

        &>div {
            @include WH(70%, 100%);

            margin: auto;

            &>div {
                position: relative;
                max-width: 350px;
                margin: auto;
                margin-bottom: 20px;

                display: flex;
                justify-content: center;

                &:nth-child(1) {
                    margin-top: 20px;
                }

                label {
                    position: absolute;
                    top: 50%;
                    left: 0;

                    transition: 0.5s;
                    transform: translate(10px, -50%);

                    pointer-events: none;

                    &.active {
                        transform: translate(15px, -190%);

                        background: $SubColorWhite;

                        font-size: 0.8em;
                    }
                }

                input {
                    width: 100%;

                    padding: 10px;

                    border-bottom: 2px dotted $PointColorGray;
                    border-top-right-radius: 10px;
                    border-top-left-radius: 10px;
                }
            }

            .erroralram {
                text-align: center;
                font-size: 1.5em;

                color: #ff0000;
            }

            .SignUpBtnWrap {

                display: flex;
                justify-content: space-between;

                margin-top: 30px;

                button {
                    
                    padding: 7px 21px;
                    border-radius: 3px;

                    cursor: pointer;

                    background: $MainColorGreen;

                    transition: 0.2s;

                    &:hover {
                        color: $SubColorWhite;
                        background: $HoverGreenColor;
                    }
                }
            }
        }
    }

    .condition{
        width: 100%;
        margin-top: 5px;
        text-align: center;

        color: #ff0000;
    }
}


@media screen and (max-width:750px) {
    .SignUp {
        width: 100%;

        form {
            overflow-y: scroll;
            &>div {
                width: 100%;
                
                padding: 20px;

                &>div {
                    position: relative;

                    width: 100%;

                    max-width: 350px;
                    margin: auto;
                    margin-top: 0;
                    margin-bottom: 10px;

                    display: flex;
                    justify-content: center;

                    &:nth-child(1) {
                        margin-top: 0;
                    }

                    label {
                        position: relative;

                        transform: translateY(25%);

                        pointer-events: none;

                        width: 250px;

                        &.active {
                            background: 0;
                            transform: translate(0, 25%);

                            font-size: 1em;
                        }
                    }

                    input {
                        width: 100%;

                        padding: 5px;
                    }
                }

                .SignUpBtnWrap {
                    margin-top: 20px;
                }
            }
        }
        .condition{            
            font-size: 0.8em;
        }
    }
}