@import './VarMixin';
.SignIn {
    position: relative;
    @include WH(100%, 100%);

    @include disFlexJustifyAlign();

    &.VSB {
        visibility: hidden;
    }

    .SignIn_contents_wrap {
        @include WH(100%, 100%);
        max-width: 400px;

        @include disFlexJustifyAlign();
        flex-direction: column;

        h2 {
            @include WH(100%, 20%);

            @include disFlexJustifyAlign();

            font-size: 1.8em;
            font-weight: 700;
        }

        /* 입력란 */
        form {
            @include WH(100%, 40%);

            @include disFlexJustifyAlign();
            flex-direction: column;
            gap: 20px;

            .Login_input_wrap {
                @include WH(100%, 100%);

                margin-top: 30px;

                @include disFlexJustifyAlign();
                flex-direction: column;
                gap: 20px;

                &>div {
                    width: 80%;
                    position: relative;

                    label {
                        position: absolute;
                        top: 50%;
                        left: 10px;

                        transform: translateY(-50%);

                        pointer-events: none;

                        transition: 0.5s;

                        &.active {
                            position: absolute;
                            top: 50%;
                            left: 10px;

                            transform: translate(-5%, -190%);

                            background: $SubColorWhite;

                            font-size: 0.8em;
                        }
                    }

                    input {
                        width: 100%;

                        padding: 10px;

                        border-top-right-radius: 10px;
                        border-top-left-radius: 10px;
                        border-bottom: 1px solid $PointColorGray;
                    }
                }
            }

            .LoginBtn {
                width: 80%;

                padding: 10px 20px;
                margin: auto;
                border-radius: 50px;
                border: 0;

                background: $MainColorGreen;

                cursor: pointer;

                transition: 0.2s;

                &:hover {
                    background: $HoverGreenColor;
                    color: $SubColorWhite;
                }
            }
        }

        /* 버튼 모음 */
        .LoginBtn_wrap {
            position: relative;

            @include WH(80%, 30%);

            margin: auto;

            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px;

            a {
                position: relative;
                color: $SubColorBlack;
                transition: 0.3s;
                padding: 5px;

                &::before {
                    position: absolute;
                    top: 0;
                    left: 0;

                    content: '';

                    @include WH(100%, 0);

                    border-radius: 50px;

                    background: $MainColorGreen;

                    pointer-events: none;

                    transition: 0.3s;

                    z-index: -1;

                }

                &:hover {
                    color: $SubColorWhite;

                    &::before {
                        height: 100%;
                        background: $HoverGreenColor;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:750px) {

    .SignIn {
        .SignIn_contents_wrap {
            h2 {
                height: 30%;
                transform: translateY(-10px);

                font-size: 1.4em;
            }

            form {
                .Login_input_wrap {
                    margin-top: 0;

                    &>div {
                        width: auto;
                        position: relative;
                    }

                    input {
                        width: 200px;

                        padding: 5px;
                    }
                }

                &>.LoginBtn {
                    width: 200px;
                }
            }

            .LoginBtn_wrap {
                @include disFlexJustifyAlign();
                flex-direction: column;
                gap: 10px;

                margin-top: 10px;
            }
        }
    }
}